@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sintony:wght@400;700&display=swap');


@tailwind base;
@tailwind components;

  .rubik {
      font-family: "Sintony", sans-serif;
  }

  .poppins {
      font-family: "Poppins", sans-serif;

  }


 @font-face {
  font-family: 'SF_PRO_DISPLAY';
  src: url('./assets/fonts/SF-Pro-Display-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-BlackItalic.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_BOLD';
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_BOLD_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_HEAVY';
  src: url('./assets/fonts/SF-Pro-Display-Heavy.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_HEAVY_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-HeavyItalic.otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_LIGHT';
  src: url('./assets/fonts/SF-Pro-Display-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_LIGHT_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_MEDIUM';
  src: url('./assets/fonts/SF-Pro-Display-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_MEDIUM_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_SEMIBOLD';
  src: url('./assets/fonts/SF-Pro-Display-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_SEMIBOLD_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-SemiboldItalic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_THIN';
  src: url('./assets/fonts/SF-Pro-Display-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_THIN_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-ThinItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_ULTRALIGHT';
  src: url('./assets/fonts/SF-Pro-Display-Ultralight.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_DISPLAY_ULTRALIGHT_ITALIC';
  src: url('./assets/fonts/SF-Pro-Display-UltralightItalic.otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_ITALIC';
  src: url('./assets/fonts/SF-Pro-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_BLACK';
  src: url('./assets/fonts/SF-Pro-Rounded-Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_BOLD';
  src: url('./assets/fonts/SF-Pro-Rounded-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_HEAVY';
  src: url('./assets/fonts/SF-Pro-Rounded-Heavy.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_LIGHT';
  src: url('./assets/fonts/SF-Pro-Rounded-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_MEDIUM';
  src: url('./assets/fonts/SF-Pro-Rounded-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED';
  src: url('./assets/fonts/SF-Pro-Rounded-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_SEMIBOLD';
  src: url('./assets/fonts/SF-Pro-Rounded-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_THIN';
  src: url('./assets/fonts/SF-Pro-Rounded-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'SF_PRO_ROUNDED_ULTRALIGHT';
  src: url('./assets/fonts/SF-Pro-Rounded-Ultralight.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'SF_PRO_TEXT_BLACK';
  src: url('./assets/fonts/SF-Pro-Text-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_BLACK_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-BlackItalic.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT_BOLD';
  src: url('./assets/fonts/SF-Pro-Text-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_BOLD_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT_HEAVY';
  src: url('./assets/fonts/SF-Pro-Text-Heavy.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_HEAVY_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-HeavyItalic.otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT_LIGHT';
  src: url('./assets/fonts/SF-Pro-Text-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_LIGHT_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT_MEDIUM';
  src: url('./assets/fonts/SF-Pro-Text-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_MEDIUM_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT';
  src: url('./assets/fonts/SF-Pro-Text-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT_SEMIBOLD';
  src: url('./assets/fonts/SF-Pro-Text-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_SEMIBOLD_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-SemiboldItalic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT_THIN';
  src: url('./assets/fonts/SF-Pro-Text-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_THIN_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-ThinItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF_PRO_TEXT_ULTRALIGHT';
  src: url('./assets/fonts/SF-Pro-Text-Ultralight.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF_PRO_TEXT_ULTRALIGHT_ITALIC';
  src: url('./assets/fonts/SF-Pro-Text-UltralightItalic.otf');
  font-weight: 200;
  font-style: italic;
}

.sub-heading {
  font-family:  'SF_PRO_DISPLAY';
  font-weight: 600;
}

.button-content {
  font-family: 'SF_PRO_TEXT'
}

.text-content {
  font-family: 'SF_PRO_TEXT_SEMIBOLD';
  line-height: 1.4705882353;
  letter-spacing: -0.022em;
}

.cl-internal-1dauvpw {
  display : none;
}
  
  
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }